#header{
    background: linear-gradient(0deg, rgba(147,203,255,1) 0%, rgba(110,150,255,1) 100%);
    border: 1px solid black;
    width: 99.6%;
    height: 70px;
}
#sidebar{
    background: linear-gradient(90deg, rgba(197,255,248,1) 0%, rgba(110,231,255,1) 100%);
    float: left;
    border: 1px solid black;
    width: 20%;
    height: 540px;
}
#content{
    background: linear-gradient(270deg, rgba(197,255,248,1) 0%, rgba(110,231,255,1) 100%);
    float: left;
    width: 79.5%;
    height: 540px;
    border: 1px solid black;
}
img{
    display: block;
    margin: 0 auto;
    width: 176px;
    height: 268px;
}
div{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h3,h4{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}
hr{
    border: none; 
    border-top: 2px dashed black;
    width: 80%;
    margin: 0 auto;
    margin-top: 7px;
}
.hr{
    border: none; 
    border-top: 2px dashed black;
    width: 90%;
    margin: 0 auto;
    margin-top: 7px;
}
.button{
    color: #fff;
	user-select: none;
	text-decoration: none;
	outline: none;
	background-color: #4753fa;
    display: flex;
    justify-content: center;
    width: 9%;
	}

.button:hover{
	background-color: #3700ff;
}
.button:active{
	background-color: #545ddb;
}